* {
    margin: 0px;
    color: #dddddd;
    box-sizing: border-box;
}

body {
    /* background-color: #808080; */
    background-color: black;
}

/* Navbar styling start */

.nvbar {
    background-color: #000000;
    height: 7vh;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nvbar>p{
    text-align: center;
}

.tpc {
    color: #f8f32bff;
}

.blink {
    display: inline;
    color: #ff9b88;
    -webkit-animation: blinking 1s infinite;
    animation: blinking 1s infinite;
}
@-webkit-keyframes blinking {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes blinking {
    0% {
        /* opacity:1; */
    }
    100% {
        opacity: 0;
    }
}

/* Navbar styling end */

/* Body styling start */

.aaa{
    position: relative;
    width: 100%;
    height: calc(100vh - 7vh);
    margin-top: 7vh;
    border: 5px solid greenyellow;
    padding: 7vh;
    background-color: rgb(0, 74, 139);
    
    display: grid;
    place-items: center;
    cursor: pointer;
    /* add a custom svg cursor */
}

.bbb{
    color: red;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}


.zzz {
    position: absolute;
    width: 100%;
    height: 100vh;
    
    object-fit: cover;
    z-index: 1;
}

.yyy {
    position: absolute;
    width: 100%;
    top: calc(48vh);
    z-index: 2;
    display: grid;
        place-items: center;
}
#time, .xxx {
    src: url(sf-pro-display_semibold.woff2) format('.woff2');
        font-weight: 500;
        font-style: normal;
        font-size: 60px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}